---
import { getAllCoaches } from '../../lib/coachesHelper';
import CoachCarousel from '../CoachCarousel.astro';
// Fetch all coaches
const coaches = await getAllCoaches();
---

<section class="bg-gray-50 py-16 sm:py-24">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">

    <CoachCarousel coaches={coaches} />
  </div>
</section>