---
import Header from "../components/Header.astro";
import TickerTape from "../components/TickerTape.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
import { loadQuery } from "../lib/load-query";
import type {
  TickerTapeType,
  HeaderType,
  FooterType,
  ServicesType,
} from "../lib/types";

const { data: tickerItems } = await loadQuery<TickerTapeType>({
  query: `*[_type == "tickerTape"][0]`,
});

const { data: headerItems } = await loadQuery<HeaderType>({
  query: `*[_type == "header"][0]`,
});

const { data: footerItems } = await loadQuery<FooterType>({
  query: `*[_type == "footer"][0]`,
});

const { data: servicesItems } = await loadQuery<ServicesType[]>({
  query: `*[_type == "services"]{ name, slug }`,
});
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>5 Tool Performance</title>
  </head>
  <body>
    <Header {...headerItems} />
    {
      tickerItems.active && (
        <TickerTape
          title={tickerItems?.title}
          items={tickerItems?.tickerTapeItems}
        />
      )
    }
    <slot />
    <Footer {...footerItems} servicesColumn={servicesItems} />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
